.cropped1
{
width: 800px;
height: 120px;
object-fit: cover;
object-position: 20% 14%;
border: 1px solid black;
}
.cropped2
{
width: 900px;
height: 770px;
object-fit: cover;
object-position: 30% 50%;
border: 1px solid black;
}
.cropped3
{
width: 900px;
height: 300px;
object-fit: cover;
object-position: 30% 15%;
border: 1px solid black;
}
